# Environments
venv/
env/
ENV/
env.bak/
venv.bak/


# Environment variables
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Databases
*.sqlite3
run_logs/
